<div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
    <img class="absolute w-full h-full object-cover" [src]="bg" />
</div>

<div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 md:pt-24 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <div class="w-64"> <img src="assets/images/logo/logo-text.svg"> </div>
            <div class="mt-8 text-3xl font-extrabold tracking-tight leading-tight uppercase">{{heading}}</div>
            <ng-content></ng-content>
          
        </div>
    </div>
