/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

*{
  user-select: none;
}

fuse-drawer.crud{
    --fuse-drawer-width:500px;
}

app-themes{
  fuse-drawer.crud{
    --fuse-drawer-width:50%;
}
}
fuse-drawer.filter{
  --fuse-drawer-width:300px;
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 400ms;
    animation-fill-mode: none;
  }
  .mat-mdc-snack-bar-container{
    .mdc-snackbar__surface{
      @apply bg-green-500 #{!important};
    }
    &.snackbar-error{
      .mdc-snackbar__surface{
        @apply bg-red-500 #{!important};
      }
     
    }
  }

 

@keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
  fuse-vertical-navigation{
    height: 100%!important;
    min-height: 100%!important;
    max-height: 100%!important;
  }

  
  @media (min-width:1366px) {
    html{
      zoom:.90
    }
  }
  @media (max-width:1366px) {
    html{
      zoom:.5
    }

    
  }