<app-crud
[isEmpty]="isEmpty"
[isLoaded]="isLoaded"
[rows]="categories"
[columns]="columns"
[breadcrumbs]="breadcrumbs"
[formTemplate]="formTemplate"
[filterTemplate]="filterTemplate"
[pagination]="params"
(onPageChange)="onPageChange($event)"
(onApply)="onApply()"
(onSubmit)="onSubmit()"
(onUpdate)="onUpdate()"
(onChange)="onChange($event)"
(onSearch)="onSearch($event)"
>
</app-crud>

<ng-template #ipTemp let-row="row">
    <div class="flex items-center" role="button">
        <div [attr.acronym]="row?.clientName"></div>
          <div class="ml-4 mr-auto">
            <div  *ngIf="row?.ipAddressName">{{row?.ipAddressName}}</div>
            <div  *ngIf="row?.domain">{{row?.domain}}</div>
          </div>
      </div>
</ng-template>

<ng-template #statusTemp let-row="row">
    <span
    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
    [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': row.status == 'inActive',
                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': row.status == 'active'}">
    <span class="leading-relaxed whitespace-nowrap">{{row.status}}</span>
    </span>
</ng-template>

<ng-template #actionsTemp let-row="row">
    <button type="button" data-cy="delete" mat-icon-button (click)="deleteFn(row)"><mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon></button>
    <button type="button" data-cy="edit" mat-icon-button (click)="updateFn(row)"><mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon></button>
</ng-template>

<!-- filter Template -->
<ng-template #filterTemplate>
    <form [formGroup]="form">
        <div>
            <mat-form-field class="w-full" hideRequiredMarker>
                <mat-label>Status</mat-label>
                <mat-select data-cy="status" formControlName="status">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inActive">Inactive</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
    </form>
</ng-template>

<ng-template #formTemplate>
    <form [formGroup]="form">
        <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
                <mat-label>Address Type</mat-label>
                <mat-form-field class="w-full" subscriptSizing='dynamic'>
                    <mat-select #type formControlName="addressType" (selectionChange)="checkValidation(type.value)">
                        <mat-option value="domain">Domain</mat-option>
                        <mat-option value="ip">IP</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
       <div class="col-span-2" *ngIf="form.get('addressType').value == 'domain'">
        <mat-form-field class="w-full" hideRequiredMarker subscriptSizing='dynamic'>
            <mat-label>Domain</mat-label>
            <input matInput formControlName="domain" #domain data-cy="domain">
            <mat-error *ngIf="form.get('domain').hasError('required')">*Required </mat-error>
            <mat-error *ngIf="form.get('domain').hasError('pattern')">Invalid Domain Url </mat-error>
        </mat-form-field>

       </div>
       <div class="col-span-2" *ngIf="form.get('addressType').value == 'ip'">
        <mat-form-field class="w-full" hideRequiredMarker subscriptSizing='dynamic'>
            <mat-label>IP Address</mat-label>
            <input matInput formControlName="ipAddressName" #ip data-cy="ipAddressName">
            <mat-error *ngIf="form.get('ipAddressName').hasError('required')">*Required </mat-error>
            <mat-error *ngIf="form.get('ipAddressName').hasError('pattern')">Invalid IP Address </mat-error>
        </mat-form-field>
       </div>
       <div class="col-span-2">
        <mat-form-field class="w-full" hideRequiredMarker subscriptSizing='dynamic'>
            <mat-label>Status</mat-label>
            <mat-select data-cy="status" formControlName="status">
                <mat-option value="active">Active</mat-option>
                <mat-option value="inActive">Inactive</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('status').hasError('required')">*Required </mat-error>
        </mat-form-field>
    </div>
   </div>
   </form>
</ng-template>
