<chatbot-toggle [ngClass]="{'expanded':expanded}" (onToggle)="onToggle($event)"></chatbot-toggle>
<chatbot-popup [ngClass]="{'expanded':expanded}">
    <chatbot-header></chatbot-header>
    <chatbot-body>
        <chatbot-holder> 
            <chatbot-row *ngFor="let item of chatMessages" >
                <chatbot-avtar name="MS"></chatbot-avtar>
                <ng-container>
                    <chatbot-message [content]="item"></chatbot-message>
                </ng-container>
                
            </chatbot-row>
        </chatbot-holder>
    </chatbot-body>
    <chatbot-footer (onKeyPress)="onKeyPress($event)"></chatbot-footer>
</chatbot-popup>