<chatbot-toggle [ngClass]="{'expanded':expanded}" (onToggle)="onToggle($event)"></chatbot-toggle>
<chatbot-popup [ngClass]="{'expanded':expanded}">
    <chatbot-header></chatbot-header>
    <chatbot-body>
        <chatbot-holder> 
            <chatbot-row *ngFor="let item of chatMessages" >
                <chatbot-avtar name="MS"></chatbot-avtar>
                <ng-container>
                    <chatbot-message [content]="item"></chatbot-message>
                </ng-container>
        <!-- <chatbot-holder>   

            <chatbot-loader></chatbot-loader>

            <chatbot-row>

                asdf
                <chatbot-loader [newMessage]="newMessage" style="width:100%"></chatbot-loader>

                <button (click)="send()">send</button> -->
                <!-- <ng-container *ngFor="let node of chatData">
                    <h1>{{node.title}}</h1>
                    <ng-container *ngIf="node.visited">
                        <ng-container *ngFor="let a of node?.children">
                            <h1 (click)="a.visited=true">{{ a.title }}</h1>
                        </ng-container>
                    </ng-container>
                </ng-container> -->

                <!-- <chatbot-avtar name="MS"></chatbot-avtar> -->
                <!-- <ng-container *ngIf="item.type == 'category'">
                    <chatbot-list [data]="item?.data" (onSelect)="onCategorySelect($event)"></chatbot-list>
                </ng-container>
                <ng-container *ngIf="item.type == 'prompt'">
                    <chatbot-prompts [data]="item?.data[0]" (onSelect)="onPromptSelect($event)"></chatbot-prompts>
                </ng-container>
               
                <ng-container *ngIf="item.type == 'message' || item.type == 'faq'">
                    <chatbot-message [content]="item?.data"></chatbot-message>
                </ng-container> -->
                
            </chatbot-row>
        </chatbot-holder>
    </chatbot-body>
    <chatbot-footer (onKeyPress)="onKeyPress($event)"></chatbot-footer>
</chatbot-popup>