<app-auth-layout heading="Forgot Password" bg="https://images.unsplash.com/photo-1634693798046-b00e706c3076?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=100">
    <form
    class="mt-8 grid grid-cols-1 gap-5"
    [formGroup]="form">
    <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-icon matPrefix [svgIcon]="'heroicons_outline:at-symbol'"></mat-icon>
        <mat-label>Email address</mat-label>
        <input data-cy="email" id="email" matInput [formControlName]="'email'" >
        <mat-error *ngIf="form.get('email').hasError('required')">Required </mat-error>
        <mat-error *ngIf="form.get('email').hasError('email')">Invalid Email Address</mat-error>
    </mat-form-field>
    <div class="grid grid-cols-1 gap-3">
        <button data-cy="Send" class="fuse-mat-button-large" mat-flat-button [color]="'primary'" [disabled]="form.disabled" >
            <span *ngIf="!form.disabled"> Send Reset Link </span>
            <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button> 
        <a mat-stroked-button class="fuse-mat-button-large" [routerLink]="['/sign-in']">Return to Sign In </a>
    </div>
 


</form>
</app-auth-layout>
